body{
    margin: 20px;
    padding: 10px;

}
.parent-section{
    display: flex;
    column-gap: 20px;
}
.main-div{
    height: 100px;
    width: 100px;
    background-color: #ffff28;
    display: flex;
    align-items: center;
    justify-content: center;

  
}
.main-div2{
    height: 100px;
    width: 100px;
    background-color: #ffff28;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: rotate(-20deg); */
    /* transform: scale(2); */
    /* transform: scaleX(1.5);
    transform: scaley(.5); */
    /* transform: scale(.6,2); */
    /* transform: skew(20deg); */
    /* transform: skewx(-20deg); */
    /* transform: skewy(-20deg); */
    /* transform: translate(200px); */
    /* transform: translateX(300px); */
    /* transform: translatey(300px); */
    /* transform: matrix([scaleX],[skewy],[skewx],[scaley],[translateX],translatey); */
    /* transform: matrix(1.5,0.2,.03,1,200,200); */
    /* border-radius: 20px 30px 10px 34px; */
/* transform: translate(20px,12px) rotate(20deg) scale(1.2) skew(20deg); */





/* transition-property: width; */
/* transition-property:transform ;
transition-duration: 5000ms; */
/* ease== in start speed slow, in middle speed is up and speed is down in end >
ease-in== slow in start , fast in ends>
ease-in-out==in start speed slow, in middle speed is up and speed is down in end>
ease-out== fast in start & slow in end>
linear== maintain constant speed >
steps== need to step by stepp transition>  
cubic-bezier== custum path for element> */
/* transition-timing-function: cubic-bezier(.33,.69,.48,.61); 
transition-delay: 10000ms ; */

/* short hand  */
transition: transform 4000ms ease 1000ms,
           background-color ;



}

.main-div2:hover{

    /* width: 300px; */
    background-color: red;
    /* rotate: 20deg; */
    /* border-radius: 50%; */
    /* transform: scale(2); */
    transform: translateX(400px);
}

/* @keyframes hitech {
    from{ background-color: red;}
    to{ background-color: blue;}

} */

@keyframes hitech {
    0%{ background-color: red;left:100px}
    20%{ background-color: blue;right:0px}
    50%{ background-color: rgb(29, 142, 58);top:100px}
    71%{background-color: #ffff28; border-radius: 50%;}
    100%{background-color: rgb(225, 11, 196); bottom: 0px;}

}

.animation-div{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    left: 200px;
    top: 20px;
    /* animation-name: hitech; */
    /* animation-duration: 10000ms; */
  /* animation-delay: 2s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: normal; */
  /* animation-direction: reverse; */
  /* animation-direction: alternate; */
  /* animation-direction: alternate-reverse; */
  /* animation-timing-function: ease; */
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: ease-out; */
  /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  /* animation-fill-mode: both; */
  
animation: hitech 10s linear 5s infinite alternate;
}

