/* start cssfile for indexfile.html */
.myname{
    color: rgb(44, 27, 222);
}
.paragraph{
    color: hsl(23,20%,36%);
}
    
.frontend{
    color: rgb(47, 53, 114);

    background-color: rgb(185, 119, 119);
}
.backend{
    color: #12ab6e;
}

.maindiv{
    /* background-color: chartreuse; */
    /* background-image: url("./images/image.jpg"); */
    background-image: url("https://i.ebayimg.com/images/g/0w0AAOSw-1xZeQZP/s-l1200.jpg");
    /* background-repeat: no-repeat; */
    /* width: 100%;
    height: 500px; */
    object-fit: fill;
    /* background-attachment: scroll; */
    background-position: center;
    
}

.maindiv2{
    border: 2px ;
    border-style:dashed;
    border-color: green;
}
.maindiv4{
 border: 2px solid red ;
}
.maindiv5{
   border: 2px;
   border-style: solid dotted dotted dashed;
   border-color: rgb(214, 30, 131) blue green orangered;
   }
  .maindiv6{
    background-color: bisque;
    border-top: 1px solid red;
    border-left: 4px solid blue;
    border-bottom: 5px solid red;
  }
  .maindiv7{
    width: 50px;
    height: 50px;
    border: 2px solid red;
    border-radius: 25% 20% 30% 70%;
  }


  .padd-marg{
    /* width: 100px ; */
    /* height: 40px; */
    border: 10px solid black;
    background-color: #58b8de;
    /* padding: 200px; */
    /* padding: 50px 30px; */
    /* padding: 10px 350px 10px; */
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 100px;
    /* margin: 50px; */
    /* margin: 40px 20px; */
    /* margin: 50px 10px 100px ; */
    /* margin-top: 200px; */
    /* margin-left: 50px; */
    /* margin-bottom: 500px; */

    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase;
    /* line-height: 50px; */
    /* word-spacing: 20px; */
    /* letter-spacing: 2px; */
    /* white-space: normal; */
    /* white-space: nowrap; */
    /* text-indent: 400px; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
  }
  .consect{
    text-decoration: line-through;
    text-decoration: overline;
    /* white-space: 400px; */
    /* text-shadow: horizontal  vertical  blur color ; */
    text-shadow: 2px  4px  0px rgb(153, 255, 0);

  }
 
  